*.dll
*.pdb
*.cache
*.suo
*.exe
*.msi
*.tlog
*.FileListAbsolute.txt
*.pdf

GameBoy Revolution/bin/Debug/*.*
GameBoy Revolution/bin/Release/*.*
GameBoy Revolution/obj/
!GameBoy Revolution.exe
!GameBoy Revolution.exe.config
!SlimDX.dll

